absl-py
aiohttp
aiosignal
altair
annotated-types
antlr4-python3-runtime
anyio
asgiref
async-timeout
attrs
backoff
bcrypt
beautifulsoup4
blinker
build
cachetools
certifi
cffi
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
cohere
coloredlogs
contourpy
cryptography
cycler
dataclasses-json
dataclasses-json-speakeasy
datasets
Deprecated
dill
distro
dnspython
effdet
einops
emoji
et-xmlfile
exceptiongroup
fastapi
fastavro
filelock
filetype
flatbuffers
fonttools
frozenlist
fsspec
gitdb
GitPython
google-ai-generativelanguage

google-api-core
google-auth
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
grpcio-tools
h11
h2
hpack
html2text
httpcore
httptools
httpx
huggingface-hub
humanfriendly
hyperframe
idna
importlib-metadata
importlib-resources
iopath
Jinja2
joblib
jsonpatch
jsonpath-python
jsonpointer
jsonschema
jsonschema-specifications
kiwisolver
kubernetes
langchain
langchain-community
langchain-core
langchain-google-genai

langchain-text-splitters
langdetect
langsmith
layoutparser
lxml
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
mmh3
monotonic
mpmath
msg-parser
multidict
multiprocess
mypy-extensions
neo4j
networkx
nltk
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
olefile
omegaconf
onnx
onnxruntime
openai
opencv-python
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
pandas

pdf2image
pdfminer.six
pdfplumber
pikepdf
pillow
pillow_heif
portalocker
posthog
proto-plus
protobuf
pulsar-client
pyarrow
pyarrow-hotfix
pyasn1
pyasn1-modules
pycocotools
pycparser
pydantic
pydantic_core
pydeck
Pygments
pymongo
pypandoc
pyparsing
pypdf
pypdfium2
PyPika
pyproject_hooks
pytesseract
python-dateutil
python-docx
python-dotenv
python-iso639
python-magic
python-multipart
python-pptx
pytz
PyYAML
qdrant-client
rank-bm25
rapidfuzz
referencing
regex
reportlab
requests
requests-oauthlib
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
sentence-transformers
six
smmap
sniffio
soupsieve
SQLAlchemy
starlette
streamlit
streamlit-option-menu
sympy
tabulate
tenacity
tensorboard
tensorboard-data-server
threadpoolctl
timm
tokenizers
toml
tomli
toolz
torch
torchaudio
torchvision
tornado
tqdm
transformers
triton
typer
typing-inspect
typing_extensions
tzdata
unstructured
unstructured-client
unstructured-inference
unstructured.pytesseract
urllib3
uvicorn
uvloop
watchdog
watchfiles
websocket-client
websockets
Werkzeug
wrapt
xlrd
XlsxWriter
xxhash
yarl
zipp
