streamlit==1.33.0
streamlit-option-menu==0.3.12
reportlab==4.2.0
neo4j==5.19.0
google-cloud-aiplatform>=1.25.0
google-cloud-aiplatform[pipelines]>=1.25.0
langchain>=0.0.216
pydantic==2.7.1
google-generativeai
langchain-google-genai
pandas